<app-layout></app-layout>

<div class="gradient-background">
    <div class="container">
        <div id="tabela" class="mt-3 mb-3 p-3 card shadow">
            <div class="d-flex justify-content-between">
                <h2>Vendedores cadastrados no sistema</h2>  
                <button class="btn btn-sm btn-secondary" routerLink="/home">Voltar</button>   
            </div> 
     <div class="table-reponsive">
        <form  [formGroup]="formSale" >
            <div class="mb-3">
                 <label for="InputAddress" class="form-label">Data da venda:</label>
                  <input type="date" [(ngModel)]="date" class="form-control" id="date" aria-describedby="emailHelp" formControlName="date" placeholder="Escolha um data de nascimento"> 
                  <button type="submit" class="btn btn-primary" (click)="listBy()">Pesquisar</button>     
              </div>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>PRODUTOS</th>
                    <th>VALOR</th>
                    <th>DATA</th>
                    <th>METODO DE PAGAMENTO</th>
                </tr>          
            </thead>
            <tbody *ngFor="let sale of Sale;let i = index">
                <tr>
                    <td><p *ngFor="let name of namesProducts!.get(sale.id!)">{{name}}</p></td>
                    <td>{{sale.amount}}</td>
                    <td>{{sale.date}}</td>
                    <td>{{sale.paymentMethod}}</td>
                </tr>
            </tbody>
        </table>
     </div>
    </div>
</div>
              
<footer>
    <div class="container-footer">
        <div class="row-footer">
            <!-- footer col-->
            <div class="footer-col">
                <h4>Equipe</h4>
                <ul>
                    <li><a href="https://github.com/Francisco-Jean"> Francisco Jean </a></li>
                    <li><a href="https://github.com/gcirineu18"> Guilherme Barbosa </a></li>
                    <li><a href="https://github.com/levy-oliveira"> Levy Oliveira </a></li>
                    <li><a href="https://github.com/biavieiras"> Beatriz Vieira </a></li>
                    <li><a href="https://github.com/gustavoib"> João Gustavo </a></li>
                </ul>
            </div>
            <!--end footer col-->
            <!-- footer col-->
            <div class="footer-col">
                <h4>Tecnologias usadas no trabalho</h4>
                <ul>
                    <li><a>Java</a></li>
                    <li><a>Spring Boot 3</a></li>
                    <li><a>PostgreeSQL</a></li>
                    <li><a>AngularJS</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>