.navbar {
    background-color: #8bb9e2;
    
    width:100%;
    z-index: 1;
   
  }

  .navbar-brand img {
    width: 100px;
    height: 80px;
  }

  .mt-3.mb-3.p-3.card.shadow {
    background-color: gray;
  }

  .table {
    background-color: gray;
  }

  .card.shadow {
   
    width: 80%;;
    position:absolute;
    font-size: 20px;
  }

