<app-layout></app-layout>
    
<div class="gradient-background">
    <div class="container">
        <div id="tabela" class="mt-3 mb-3 p-3 card shadow">
            <div class="d-flex justify-content-between">
                <h2>Editar Produto</h2>  
                <button class="btn btn-sm btn-secondary" routerLink="/home"> Voltar</button>   
            </div> 
     <div class="table-reponsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome do Produto</th>
                    <th>Categoria</th>
                    <th>Valor do Produto</th>
                <th> 
                    Ação &nbsp;
                    
                         
                    <a type="buttom" class="btn btn-sm btn-success" href="../seller" data-bs-toggle="modal"  >    
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-plus" viewBox="0 0 16 16">        
                            <path         
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
     
                        </svg>

                              </a>
                    
                </th> 
                </tr>
                
            </thead>
            <tbody *ngFor="let product of listProducts">
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.value}}</td>
                    <td>
                        <a  routerLink="product/view/{{product.id}}" class="btn btn-sm btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">    
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                            </svg>
     
                        </a>
                &nbsp;
              
                        <a id="tooltip"  data-bs-toggle="popover" data-bs-placement="top" title="Editar Produto" href="../alteraProduct/{{product.id}}" class="btn btn-sm btn-warning">
   
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
           
                                class="bi bi-pencil-square" viewBox="0 0 16 16">
           
                                <path
        
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
          
                             <path fill-rule="evenodd"        
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
          
                            </svg>

                        </a>
                        
                     
                        
     
              
                        &nbsp;
           
              
                        <button (click)="removerProduct(product.id)" id="tooltip"  data-bs-toggle="popover" data-bs-placement="top" title="Remover Produto" type="button" class="btn btn-sm btn-danger">
            
        
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            
       
                                class="bi bi-trash" viewBox="0 0 16 16">   
              
                                <path          
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"             
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
        
                            </svg>

                                  </button>
                    </td>
                </tr>
            </tbody>
        </table>
     </div>
    </div>
    </div>
    </div>
        
    <footer>
        <div class="container-footer">
            <div class="row-footer">
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Equipe</h4>
                    <ul>
                        <li><a href="https://github.com/Francisco-Jean"> Francisco Jean </a></li>
                        <li><a href="https://github.com/gcirineu18"> Guilherme Barbosa </a></li>
                        <li><a href="https://github.com/levy-oliveira"> Levy Oliveira </a></li>
                        <li><a href="https://github.com/biavieiras"> Beatriz Vieira </a></li>
                        <li><a href="https://github.com/gustavoib"> João Gustavo </a></li>
                    </ul>
                </div>
                <!--end footer col-->
                <!-- footer col-->
                <div class="footer-col">
                    <h4>Tecnologias usadas no trabalho</h4>
                    <ul>
                        <li><a>Java</a></li>
                        <li><a>Spring Boot 3</a></li>
                        <li><a>PostgreeSQL</a></li>
                        <li><a>AngularJS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>