#nav {
    background-color: #8bb9e2;
    top: 0;
    width:100%;
    z-index: 4;
   
  }

.search-container{
    display:flex;
   
    
    flex-grow: 1;
    flex-shrink: 3;
    
  }

  .navbar-nav.ml-auto {
    margin-left: auto;
}

.link1{
  float: left;
  margin-left: -340px;
 
  text-decoration: none;
  
}
.link2 {
  float: left;
  margin-left: -10px;
  text-decoration: none;
  
}

#trem{
  float: left;
 margin-left: -60px;
}


#peca{
   float: left;
  margin-left: -65px;
}
#bola{
  float:left;
  //margin-left: -80px;
}

.btn-info{
  background-color:  #8bb9e2;
  color: aliceblue;
  font-size: 20px;
  border: #8bb9e2;
}

.btn-info:hover{
  
  background-color: rgb(39, 143, 241);
}





