#nav {
    background-color: #8bb9e2;
    top: 0;
    width:100%;
    z-index: 4;
   
  }

.search-container{
    display:flex;
    justify-content:center;
    
    flex-grow: 1;
    flex-shrink: 3;
    
  }

  .navbar-nav.ml-auto {
    margin-left: auto;
}