#nav {
    background-color: #58b1ff;
    top: 0;
    width: 100%;
    z-index: 4;
  }


.search-container{
  display:flex;
  flex-grow: 1;
  flex-shrink: 3;
}

.search-container button {
  background-color: #278ff1;
  border: none;
  color: white;
}

.search-container button:hover {
  background-color: rgb(91, 164, 242);
}

.navbar-nav.ml-auto {
    margin-left: auto;
}

.navbar-brand img {
  display: flex;
  width: 80px;
}

.link1{
  display: flex;
  align-items: center;
  float: left;
  margin-left: 100px;
  text-decoration: none;
}

.link1 img {
  margin-right: 3px;
  width: 50px;
}



.link2 {
  display: flex;
  align-items: center;
  float: left;
  margin-left: 70px;
  text-decoration: none;
}

.link2 img {
  margin-right: 3px;
  width: 50px;
}

.link2 span {
  font-size: 19px;
}

.link3 {
  display: flex;
  align-items: center;
  float: left;
  margin-left: 150px;
  text-decoration: none;
}

.link3 img {
  margin-right: 3px;
  width: 50px;
}

.link3 span {
  font-size: 19px;
}

.link4 {
  display: flex;
  align-items: center;
  float: left;
  margin-left: 70px;
  text-decoration: none;
}

.link4 img {
  margin-right: 3px;
  width: 50px;
}

.link4 span {
  font-size: 19px;
}

.link5 {
  display: flex;
  align-items: center;
  float: left;
  margin-left: 70px;
  text-decoration: none;
}

.link5 img {
  margin-right: 3px;
  width: 50px;
}

.link5 span {
  font-size: 19px;
}

#trem{
  float: left;
  margin-left: -60px;
}

#peca{
  float: left;
  margin-left: -65px;
}
#bola{
  float:left;
  //margin-left: -80px;
}

.btn-info{
  background-color:  #58b1ff;
  color: aliceblue;
  font-size: 22px;
  border: #58b1ff;
}

#pipa{
  float: left;

}
.link4{
  
  float: left;
  margin-left: 40px;
 
  text-decoration: none;
}



.link5{
  
  float:left;
  margin-left: -30px;
 
  
}
.btn-info:hover{
  background-color: rgb(39, 143, 241);
}

#editar{
  float: left;
  margin-left: -65px;
}



