
<nav class="navbar">
    <div class="container">
      <div class="nav navbar-nav mx-auto" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="home"><img src="assets/icon.png" alt=""></a>
      </div>
    </div>
  </nav>
  
  
  <div>
    <div class="image-container">
      <img src="assets/backgroundpic.png" id="background" alt="kids">
      
      
  
  
        <div class="form-container">
        
         <div class="card shadow round mt-6">
          <div class="class-header">
            <h3 class="text-center">Cadastro de Produto</h3>
  
          </div>
         </div>
         <div class="card-body">
    <form [formGroup] = "formCadastroProduto">
      <hr>
        <div class="mb-3">
          <label for="InputName" class="form-label">Nome do Produto:</label>
          
            <input type="text" [(ngModel)]="name" class="form-control" id="InputName" aria-describedby="" formControlName="name" placeholder="Nome">

        </div>

        <div class="mb-3">
          <label for="InputCategoria" class="form-label">Categoria:</label>
         <select class="form-select form-control" [(ngModel)]="category" formControlName="category" aria-label="Default select example">
          
          <option selected>Escolha a categoria</option>
          <option value="Bonecos">Bonecos</option>
          <option value="Jogos de Tabuleiro">Jogos de Tabuleiro</option>
          <option value="Carrinhos">Carrinhos</option>
          <option value="Instrumentos Musicais">Instrumentos Musicais</option>
          <option value="Esportes">Esportes</option>
        </select>
        </div>

       

        <div class="mb-3">
          <label for="Inputvalue" class="form-label">Valor do Produto:</label>
          
            <input type="text" [(ngModel)]="value" class="form-control" id="Inputvalue" aria-describedby="" formControlName="value" placeholder="Preço">

        </div>

        
        <div class="mb-3">
          <label for="Inputdescription"  class="form-label">Descrição do Produto</label>
          
            <input type="text" [(ngModel)]="description" class="form-control" id="Inputdescription" aria-describedby="" formControlName="description" placeholder="Descrição">

        </div>

     

        <div class="mb-3">
          <label for="formFile" class="form-label">Imagem do produto</label>
          <input type="file" class="form-control" [(ngModel)]="imageLink" id="formFile" formControlName="imageLink" >
        </div>




        
       
        
        
        
        <button type="submit" class="btn btn-primary" (click)="save()" >Cadastrar</button>
      </form>
         </div>
         
        
      </div>
      
      
      
    </div>
  </div>
  