
<nav class="navbar">
    <div class="container">
      <div class="nav navbar-nav mx-auto" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="home"><img src="assets/icon.png" alt=""></a>
      </div>
    </div>
  </nav>
  
  
  <div>
    <div class="image-container">
      <img src="assets/backgroundpic.png" id="background" alt="kids">
      
      
  
  
        <div class="form-container">
        
         <div class="card shadow round mt-6">
          <div class="class-header">
            <h3 class="text-center">Cadastro de Produto</h3>
  
          </div>
         </div>
         <div class="card-body">
    <form >
      <hr>
        <div class="mb-3">
          <label for="InputName" class="form-label">Nome do Produto:</label>
          
            <input type="text" class="form-control" id="InputName" aria-describedby="" formControlName="name" placeholder="Nome">

        </div>

        <div class="mb-3">
          <label for="Inpucategory" class="form-label">Categoria: </label>
          
            <input type="text" class="form-control" id="Name" aria-describedby="" formControlName="category" placeholder="Categoria">

        </div>

        <div class="mb-3">
          <label for="Inputvalue" class="form-label">Valor do Produto:</label>
          
            <input type="text" class="form-control" id="Value" aria-describedby="" formControlName="category" placeholder="Preço">

        </div>

        
        <div class="mb-3">
          <label for="Inputdescription" class="form-label">Descrição do Produto</label>
          
            <input type="text" class="form-control" id="Value" aria-describedby="" formControlName="description" placeholder="Descrição">

        </div>






        
       
        
        
        
        <button type="submit" class="btn btn-primary" >Cadastrar</button>
      </form>
         </div>
         
        
      </div>
      
      
      
    </div>
  </div>
  