.carousel.slide {
  width: 99%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
}

.carousel-inner img {
  height: 100%;
  border-radius: 10px;
}

.carousel-item {
  height: 400px;
}


