<app-layout></app-layout>
<div class="background" >
  <div [hidden]="!isClient() && !notLogged()" id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" loop>
      <div class="carousel-inner" loop>
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="assets/homiranha.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/boneca.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="assets/carrousel2.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <div class="controls">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>
  <div class="local">
    <div [hidden]="!isClient() && !notLogged()" class="local" class="line">
    <div class="name"> PRODUTOS EM DESTAQUE </div>
    </div>
  </div>
</div>
  <div [hidden]="!isSeller()" class="gradient-background">
    <div class="container">
      <div id="card" class="mt-3 mb-3 p-3 card shadow">
          <div class="d-flex justify-content-between">
              <h2>Seus dados</h2>   
          </div> 
          <div class="icon-perfil">
            <img src="assets/icon-perfil.png">
          </div>
          <form>
            <div class="mb-3">
                  <label class="form-label">Nome:</label>
                  <input type="text" class="form-control" readonly placeholder="{{name}}">

                  <label class="form-label">Id:</label>
                  <input type="text" class="form-control" readonly placeholder="{{id}}">

                  <label class="form-label">CNPJ:</label>
                  <input type="text" class="form-control" readonly placeholder="{{identifier}}">

                  <label class="form-label">Endereço:</label>
                  <input type="text" class="form-control" readonly placeholder="{{address}}">

                  <label class="form-label">Data de nascimento:</label>
                  <input type="text" class="form-control" readonly placeholder="{{birthDate}}">
            </div>
          </form>
      </div>
    </div>
  </div>

  <div [hidden]="!isManager()" class="gradient-background">
    <div class="container">
      <div id="card" class="mt-3 mb-3 p-3 card shadow">
          <div class="d-flex justify-content-between">
              <h2>Seus dados</h2>   
          </div> 
          <div class="icon-perfil">
            <img src="assets/icon-perfil.png">
          </div>
          <form>
            <div class="mb-3">
                  <label class="form-label">Nome:</label>
                  <input type="text" class="form-control" readonly placeholder="{{name}}">

                  <label class="form-label">Id:</label>
                  <input type="text" class="form-control" readonly placeholder="{{id}}">

                  <label class="form-label">CPF:</label>
                  <input type="text" class="form-control" readonly placeholder="{{identifier}}">

                  <label class="form-label">Endereço:</label>
                  <input type="text" class="form-control" readonly placeholder="{{address}}">

                  <label class="form-label">Data de nascimento:</label>
                  <input type="text" class="form-control" readonly placeholder="{{birthDate}}">
            </div>
          </form>
      </div>
    </div>
  </div>
   

  <section [hidden]="!isClient() && !notLogged()" id="product">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="row mt-3">
                      <div class="col-lg-3 pt-1" *ngFor="let product of productList">
                          <div class="box-shadow">
                              <div class="card">
                                  <a href="/detalhes/{{product.id}}"><img src="{{product.imageLink}}" class="img-fluid" style="height: 200px;"  class="card-img-top" alt=""></a>
                                  <div class="card-body">
                                      <a href="/detalhes/{{product.id}}"><h5 class="card-title" routerLink="/detalhes/{{product.id}}"> {{product.name}} </h5></a>
                                      <p class="card-text"><span
                                              class="text-danger fw-semibold me-2">R${{product.value}}</span>
                                      </p>
                                      <div class="row">
                                          <div class="col-6 text-end">
                                              <button class="btn btn-sm btn-success" (click)="save(product.id)" > Adicionar ao Carrinho</button>
                                          </div>
                                      </div>
                                    
                                  </div>
                              </div>
                          </div>
                      </div> 
                  </div>
              </div>
          </div>
      </div>
  </section>
 
  <footer>
    <div class="container-footer">
        <div class="row-footer">
            <!-- footer col-->
            <div class="footer-col">
                <h4>Empresa</h4>
                <ul>
                    <li><a href="#"> Quem somos </a></li>
                    <li><a href=""> nossos serviços </a></li>
                    <li><a href=""> política de privacidade </a></li>
                    <li><a href=""> programa de afiliados</a></li>
                </ul>
            </div>
            <!--end footer col-->
            <!-- footer col-->
            <div class="footer-col">
                <h4>Obter ajuda</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Transporte</a></li>
                    <li><a href="#">devoluções</a></li>
                    <li><a href="#">Status De Pedido</a></li>
                    <li><a href="#">Opções De Pagamento</a></li>
                </ul>
            </div>
            <!--end footer col-->
            <!-- footer col-->
            <div class="footer-col">
                <h4>Loja online</h4>
                <ul>
                    <li><a href="#">Relógio</a></li>
                    <li><a href="#">Saco</a></li>
                    <li><a href="#">Calçado</a></li>
                    <li><a href="#">Endereço</a></li>
                </ul>
            </div>
            <!--end footer col-->
            <!-- footer col-->
            <div class="footer-col">
                <div class="medias-socias">
                    <a href="#"> <i class="fa fa-facebook"></i> </a>
                    <a href="#"> <i class="fa fa-instagram"></i> </a>
                    <a href="#"> <i class="fa fa-twitter"></i> </a>
                    <a href="#"> <i class="fa fa-linkedin"></i> </a>
                </div>
            </div>
            <!--end footer col-->
        </div>
    </div>
</footer>