.corousel-slide {
  height: 450px;
  width: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-item {
  height: 450px;
  width: 100%;
}

.button {
  background-color: #4CAF50;
}

