<nav class="navbar">
  <div class="container">
    <div class="nav navbar-nav mx-auto" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="home"><img src="assets/icon.png" alt=""></a>
    </div>
  </div>
</nav>


<div>
  <div class="image-container">
    <img src="assets/backgroundpic.png" id="background" alt="kids">
    
    

    <div [@fadeIn]>
      <div class="form-container">
      
       <div class="card shadow round mt-6">
        <div class="class-header">
          <h3 class="text-center">Log-in </h3>

        </div>
       </div>
       <div class="card-body">
  <form [formGroup]="formLogin" >
    <hr>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">E-mail</label>
        
          <input type="text" class="form-control" id="InputEmail1" aria-describedby="emailHelp" formControlName="email" placeholder="E-mail">
          
        
        
        <div class="form-text text-danger" *ngIf="isFormControlInvalid('email')">O nome de usuário deve conter pelo menos 6 caracteres e estar no formato de e-mail</div>
      
      </div>

      <div class="mb-3">
        <label for="InputPassword1" class="form-label">Senha</label> 
        
        <input type="password" class="form-control" id="InputPassword1" formControlName="password" placeholder="Senha">

        <div class="form-text text-danger" *ngIf="isFormControlInvalid('password')">A senha deve conter pelo menos 6 caracteres</div>
         
      </div>
     
         <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="Check1" >
       
        <label class="form-check-label" for="Check1">Salvar dados</label>
        
      </div>
      
      
      
      <button type="submit" class="btn btn-primary" [disabled]="!formLogin.valid" (click)="submitForm()">Acessar</button>
    </form>
       </div>
       
       <div><a href="cadastro" class="custom-link" >Não possuo cadastro</a></div>
       
    </div>
    
    </div>
    
  </div>
</div>


<!--
<div class="row fixed-bottom">
  <div class="container text-center tex-light bg-dark p-1">
    @ 2023 Copyright WebSite
  </div>
</div>







<img src="assets/backgroundpic.png" class="img-fluid" id="background" alt="kids">
   <nav class="navbar">
    <div class="container">
      
      <div class="nav navbar-nav mx-auto" id="navbarTogglerDemo01">
        <a class="navbar-brand " href="#"><img src="assets\icon.png" alt=""></a>
        
        
    
      </div>
      
    </div>

  </nav>


  <div>
    <div class="image-container">
      <img src="assets/backgroundpic.png" id="background" alt="kids">
      <div class="overlay">
        <div class="card">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
  