


<nav class="navbar">
  <div class="container">
    <div class="nav navbar-nav mx-auto" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#"><img src="assets/icon.png" alt=""></a>
    </div>
  </div>
</nav>


<div>
  <div class="image-container">
    <img src="assets/backgroundpic.png" id="background" alt="kids">
    <div class="overlay">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>






<!--
<img src="assets/backgroundpic.png" class="img-fluid" id="background" alt="kids">
   <nav class="navbar">
    <div class="container">
      
      <div class="nav navbar-nav mx-auto" id="navbarTogglerDemo01">
        <a class="navbar-brand " href="#"><img src="assets\icon.png" alt=""></a>
        
        
    
      </div>
      
    </div>

  </nav>


  <div>
    <div class="image-container">
      <img src="assets/backgroundpic.png" id="background" alt="kids">
      <div class="overlay">
        <div class="card">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
  