
<nav class="navbar">
    <div class="container">
      <div class="nav navbar-nav mx-auto" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="home"><img src="assets/icon.png" alt=""></a>
      </div>
    </div>
  </nav>
  
  
  <div>
    <div class="image-container">
      <img src="assets/backgroundpic.png" id="background" alt="kids">
      
      
  
  
        <div class="form-container">
        
         <div class="card shadow round mt-6">
          <div class="class-header">
            <h3 class="text-center">Cadastro de usuário</h3>
  
          </div>
         </div>
         <div class="card-body">
    <form   >
      <hr>
        <div class="form-group">
          <label for="exampleInputEmail1" class="form-label">Qual o seu nome?</label>
          <div class="input-group">
            <input type="text" [(ngModel)]="name"  class="form-control" id="InputName" aria-describedby="emailHelp" formControlName="name" placeholder="Nome">




        </div>

        </div>
       <div class="form-group">
          <label for="exampleInputEmail1" class="form-label">E-mail:</label>
          <div class="input-group">
            <input type="text" [(ngModel)]="email" class="form-control" id="InputUsername" aria-describedby="emailHelp" formControlName="email" placeholder="Nome de usuário">

        </div>

        </div>
       <div class="form-group">
          <label for="InputIdentifier" class="form-label">CPF/CNPJ:</label>
          <div class="input-group">
            <input type="text" [(ngModel)]="identifier" class="form-control" id="InputCPF" aria-describedby="emailHelp" formControlName="identifier" placeholder="cpf / cnpj">

        </div>

        </div>
      
      <div class="form-group">
        <label for="InputAddress" class="form-label">Endereço:</label>
        <div class="input-group">
          <input type="text" [(ngModel)]="address" class="form-control" id="Inputaddress" aria-describedby="emailHelp" formControlName="adress" placeholder="Endereço">

      </div>

      </div>
       <div class="form-group">
        <label for="InputAddress" class="form-label">Data de nascimento:</label>
        <div class="input-group">
          <input type="date" [(ngModel)]="birthDate" class="form-control" id="birthDate" aria-describedby="emailHelp" formControlName="birthDate" placeholder="">

      </div>

      </div>
  
      <div class="form-group">
          <label for="InputPassword" class="form-label">Digite sua Senha</label> 
          <div class="input-group">    
          <input type="password" [(ngModel)]="password" class="form-control" id="InputPassword1" formControlName="password" placeholder="Senha">
  
         
          </div>  
        </div>
     <!--     -->  
       
        
        
        <button type="submit" class="btn btn-primary" (click)="save()" >Cadastrar</button>
      </form>
         </div>
         
        
      </div>
      
      
      
    </div>
  </div>
  