.navbar {
    background-color: #8bb9e2;
    top: 0;
    width:100;
    z-index: 1;
  
  }

  .navbar-brand img {
    display: flex;
    width: 80px;
  }
  
.image-container {
  
   background-size: cover;
   background-position: center;
   display: flex;
   align-items: center;
   justify-content: center;
   

 
 }
 .image-container img{
  
   width: 100%;
   height:150vh;
   display:block;
   object-fit: cover;
 }
 
 .form-container {

   position:absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(172, 185, 196, 0.8);
   padding: 30px;
   
   
 }
 .class-header{
   margin-top: -10px;
   
   background-color: #8bb9e2;
   padding: 10px;
 }
 .text-center{
   color: white;
   font-size:40px;
 }
 
 ::placeholder {
   color: gray;
 }
 
 .form-label{
  font-size: 20px;
  font-family:'Segoe UI';
  color: #010407;
 }

 form{
  max-height: 90%;
 }
