<app-layout></app-layout>

<div class = "row detalhes-produto" *ngIf="productData">
    <div class="col sm-6">
       <img class= "produto-imagem" src="{{productData.imageLink}}" alt=""> 
    </div>
    <div class="col sm-6">
        <div class="detalhes">
            <h1>{{productData.name}}</h1>
            <h3>Preço: {{productData.value}}</h3>
            <h6>Categoria: {{productData.category}}</h6>
            <button class="form-button" (click)="save(productData.id)">Adicionar ao Carrinho</button>
        </div>
    </div>
</div>
<div class="descriçao">
    <div class="deciçao-produto">
        <hr>
        <h2>Descrição do Produto</h2>
        <h5>{{productData.description}}</h5>
        <hr>
    </div>
    <div>
        <h2>Id do Vendedor</h2>
        <h5>{{productData.idSeller}}</h5>
    </div>
</div>
<footer>
    <div class="container-footer">
        <div class="row-footer">
            <!-- footer col-->
            <div class="footer-col">
                <h4>Equipe</h4>
                <ul>
                    <li><a href="https://github.com/Francisco-Jean"> Francisco Jean </a></li>
                    <li><a href="https://github.com/gcirineu18"> Guilherme Barbosa </a></li>
                    <li><a href="https://github.com/levy-oliveira"> Levy Oliveira </a></li>
                    <li><a href="https://github.com/biavieiras"> Beatriz Vieira </a></li>
                    <li><a href="https://github.com/gustavoib"> João Gustavo </a></li>
                </ul>
            </div>
            <!--end footer col-->
            <!-- footer col-->
            <div class="footer-col">
                <h4>Tecnologias usadas no trabalho</h4>
                <ul>
                    <li><a>Java</a></li>
                    <li><a>Spring Boot 3</a></li>
                    <li><a>PostgreeSQL</a></li>
                    <li><a>AngularJS</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>