.navbar {
  background-color: #58b1ff;
}

.navbar-brand img {
  width: 80px;
}

.table tr td {
  background-color: rgb(241, 241, 241);
}

.table tr th {
  background-color: rgb(241, 241, 241);
}

.mt-3.mb-3.p-3.card.shadow {
  background-color: rgb(241, 241, 241);
}

.card.shadow {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
}